{% extends 'Seller/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light" style="background-position:center; background-image: url({% static 'main/images/loginbg.jpg' %});">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- <div class="item-slick1" style="background-image: url({% static 'main/images/product-09.jpg' %});"></div> -->
                        <div class="card text-center">
                                <div class="card-header">
                                    <h5 class="card-title">Welcome to Product Management</h5>
                                </div>
                                    <div class="card-body">
                                        <a href="{% url 'Seller:my_pro' %}" class="btn btn-primary btn-lg btn-block mb-3">Profile</a>
                                        <a href="{% url 'Seller:product_details' %}" class="btn btn-success btn-lg btn-block">Product Upload</a>
                                    </div>
                        </div>
                </div>
            </div>
        </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
