{% extends 'Seller/Header.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10" width="70%">
        <tr>
            <td>#</td>
            <td>Cart Quantity</td>
            <td>Product</td>
            <td>Rate</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.cart_quantity}}</td>
            <td>{{i.productID.product_name}}</td>
            <td>{{i.cart_quantity|mul:i.productID.product_price}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}
