{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewUser</title>
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">

</head>
<body> 
    <div id="tab">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" width="70%">
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_district" id="sel_district">
                        <option value="">...Select...</option>
                        {% for i in districtdata %}
                        <option value="{{i.id}}">{{i.district_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td>
                    <select name="sel_place" id="sel_place">
                        <option value="">...Select...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input required type="text" name="txtname" title="Name Allows Only Alphabets,Spaces and First Letter Must Be Capital Letter" pattern="^[A-Z]+[a-zA-Z ]*$" placeholder="Enter Name" required ></td>


            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" value="Male" >Male
                    <input type="radio" name="gender" value="Female" >Female
                </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" required name="txtcontact" pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9 digit with 0-9" placeholder="Enter Contact" required ></td>

            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txtemail" placeholder="Enter Email" required ></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" required name="txtpwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required ></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="fileImage"  required ></td>
            </tr>
            <tr>
                <td>Proof</td>
                <td><input type="file" name="fileProof"  required ></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
    </div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'Guest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>