
{% extends 'Administrator/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <a href="{% url 'Administrator:LoadingHomePage' %}">Home</a><br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <table align="center" width="100%">
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_district" id="sel_district">
                        <option value="">...Select...</option>
                        {% for i in districtdata %}
                        <option 
                        {% if i.id == editdata.district_id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.district_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place Name</td>
                <td><input required type="text" name="txtname" title="Place Name Allows Only Alphabets,Spaces and First Letter Must Be Capital Letter" pattern="^[A-Z]+[a-zA-Z ]*$" placeholder="Enter Place" required value="{{editdata.place_name}}"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
        <br>
    </form>

    <table border="1" align="center" cellpadding="10" width="100%">
        <tr>
            <th>Sl.No</th>
            <th>District</th>
            <th>Place</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district.district_name}}</td>
            <td>{{i.place_name}}</td>
            <td><a href="{% url 'Administrator:delPlace' i.id %}">Delete</a> | <a href="{% url 'Administrator:placeupdate' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
{% endblock content %}