{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="container-fluid d-bg-image">
    <form action="" method="post">
        {% csrf_token %} 
        <div class="d-profile">
        <table class="d-card" cellpadding="10px" style="color: black;">
            <tr>
                <td>Current Password</td>
                <td><input type="password" name="txtcurpass" placeholder="Current Password" required="required" id="" class="textbox"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txtnewpass" id="" placeholder="New Password" required="required" class="textbox"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="txtconpass" id="" placeholder="Confirm Password" required="required" class="textbox"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" class="d-card-button" value="Update" name="btnsub"></td>
            </tr>
        </table>
        </div>
    </form>
    </div>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'User:my_pro' %}"
    </script>
    {% endif %}
    {% if msg1 %}
    <script>
        alert("{{msg1}}")
        window.location = "{% url 'User:changepassword' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}